---
---

@import "{{ site.theme }}";

#header { 
  display: none !important; 
}

.wrapper {
  max-width: 1100px !important;
  margin: 0 auto !important;
  padding: 0 40px !important;
}

section {
  width: 100% !important;
}

pre, code {
  white-space: pre !important;
  word-wrap: normal !important;
}